{% extends 'layout.html' %}

{% block head %}
<title>Halaman Home Bootstrap</title>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h1>Ini adalah halaman Home</h1>
</div>
{% endblock %}